@import url("https://fonts.googleapis.com/css?family=Antic+Didone|Dosis|Stoke|Lora");

.dropdown:hover>.dropdown-menu{
    display:block;
}

.input-search input{
    width: 500px;
    height: 35px;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
}
.dropdown-menu {
    float: left; 
    width: 100%; }

  .carousel-inner img{
    width: 100%;
    height: 700px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    
    /*3 dong cuối là căn giữa hinh anh. nhớ nhé !!! */
  }

   
#header-nav>.nav.stroke ul li a {
  position: relative;
}
#header-nav nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
#header-nav nav.stroke ul li a:hover:after {
  width: 100%;
}
  
 #header-nav .nav-item a{
  background-color:white;
  color:black;
  margin-right:0px;
  font-family: Georgia;
  font-size: 15px;
 }

nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

  .nav-item a{
    background-color:white;
    color:black;
    margin-right:70px;
    font-family: Georgia;
    font-size: 18px;
  }
  
.dropdown .dropdown-item:hover {
    display: block;
    background-color:salmon;
}

.thumbnails img{
  margin-left:auto;
  margin-right:auto;
  display:block;
  
}
 
.product .sp h1{
  font-family: 'Lora', serif;
}

.product .container{
	
	font-size: 20px;
	/* text-align:center; */
}
.container ul li{
	display:inline-block; /*de tren cung 1 dong*/
	padding: 5px 5px;
}
.product .container  {
	display:outline-block;
	margin-right: 30px;
}
.product .container .img-fluid {
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}
.product .container .img-fluid:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}




/**/
.product h1{
  font-family: 'Antic Didone', serif;
  letter-spacing: 2px;
  font-weight: bold;
}

.product p{
  font-family: 'Dosis', sans-serif;
}
/*NÚT XEM THEM*/
.example_c {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  width: 50;
  font-size: 12px;
  }
  .example_c:hover {
    color: #ffffff !important;
    background: #131414;
    border-color: #131414 !important;
    transition: all 0.4s ease 0s;
    }

  .button_cont a:hover{
    text-decoration: none;
  }






