<!doctype html>
<html lang="vi" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/sephora.com/public/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/sephora.com/public/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css"/>

  <link rel="stylesheet" type="text/css" href="/sephora.com/stylesheet.css">
  
  
<title>
    S E P H O R A |
    {% block title %}
   {% endblock %}

</title>

<!-- Block custom-styles-->
{% block customstyles %}
{% endblock %}
<!-- End block custom-styles -->
  
</head>

<body>
  <!-- header-->
  {{ include('frontend/layouts/includes/header.html.twig') }}
  <!-- end header-->

  
    <!-- Block content  -->
    {% block content %}
    {% endblock %}
    <!-- End block content -->
<br><hr>

  <!-- footer-->
  {{ include('frontend/layouts/includes/footer.html.twig') }}
  <!-- end footer-->

  <script src="/sephora.com/public/vendor/jquery/jquery.min.js"></script>
  <script src="/sephora.com/public/vendor/popperjs/popper.min.js"></script>
  <script src="/sephora.com/public/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/sephora.com/public/vendor/feather/feather.min.js"></script>

  <script src="/sephora.com/public/vendor/jqueryvalidation/jquery.validate.min.js"></script>
  <script src="/sephora.com/public/vendor/jqueryvalidation/localization/messages_vi.min.js"></script>

  <script src="/sephora.com/public/vendor/app/app.js"></script>

  {% block customscripts %}
  {% endblock %}
  <!-- End block custom-scripts -->
</body>

</html>
