<!doctype html>
<html lang="vi" class="h-100">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/sephora/public/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
  <!-- Font awesome -->
  <link rel="stylesheet" href="/sephora/public/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />

  <!-- Custom css - Các file css do chúng ta tự viết -->

  <link rel="stylesheet" type="text/css" href="./../../stylesheet.css">
  
<title>
    S E P H O R A |
    {% block title %}
   {% endblock %}

</title>
  
</head>

<body>
  <!-- header-->
  {{ include('frontend/layouts/includes/header.html.twig') }}
  <!-- end header-->

  <main role="main">
   <!-- Block content - Đục lỗ (placeholder) trên giao diện bố cục chung, đặt tên là `content` -->
   {% block content %}
   {% endblock %}
   <!-- End block content -->
  </main>

  <!-- footer-->
  {{ include('frontend/layouts/includes/footer.html.twig') }}
  <!-- end footer-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/sephora//public/vendor/jquery/jquery.min.js"></script>
  <script src="/sephora//public/vendor/popperjs/popper.min.js"></script>
  <script src="/sephora//public/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Custom script - Các file js do mình tự viết -->
  <script src="/sephora//public/frontend/js/app.js"></script>
</body>

</html>
