<!doctype html>
<html lang="vi" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/sephora.com/public/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/sephora.com/public/vendor/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css"/>

  <link rel="stylesheet" type="text/css" href="/sephora.com/stylesheet.css">
  
<title>
    S E P H O R A |
    {% block title %}
   {% endblock %}

</title>

<!-- Block custom-styles --->
{% block customstyles %}
{% endblock %}
<!-- End block custom-styles -->
  
</head>

<body>
  <!-- header-->

  {{ include('frontend/layouts/includes/header_admin.html.twig') }}
  <!-- end header-->
  <div class="container">
      <div class="row">
          <div class="col-3">
              {{ include('frontend/layouts/sidebar_admin.html.twig') }}
          </div>
          <div class="col-9">
            <!-- Block content -->
              {% block content %}
              <br><hr>
              {% endblock %}
    <!-- End block content -->
          </div>
</div>
  </div>
    
<br><hr>

  <!-- footer-->
  {{ include('frontend/layouts/includes/footer.html.twig') }}
  <!-- end footer-->

  <script src="/sephora.com/public/vendor/jquery/jquery.min.js"></script>
  <script src="/sephora.com/public/vendor/popperjs/popper.min.js"></script>
  <script src="/sephora.com/public/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/sephora.com/public/vendor/feather/feather.min.js"></script>

  <script src="/sephora.com/public/vendor/jqueryvalidation/jquery.validate.min.js"></script>
  <script src="/sephora.com/public/vendor/jqueryvalidation/localization/messages_vi.min.js"></script>

  <script src="/sephora.com/public/vendor/app/app.js"></script>

  <!-- Custom script -do mình tự viết 
  <script src="/sephora.com/public/frontend/js/app.js"></script>
  -->

  <!-- Block custom-scripts-->
  {% block customscripts %}
  {% endblock %}
</body>

</html>
