<style>
    body{ font-size: 14px; color: #333; list-style: 26px;font-family: 'Roboto', sans-serif; }
    
    .sidebar{ width:220px;  background-color:#000;transition: all 0.5s  ease-in-out; }
    .bg-defoult{background-color:#222;}
    .sidebar ul{ list-style:none; margin:0px; padding:0px; }
    .sidebar li a,.sidebar li a.collapsed.active{ display:block; padding:8px 12px; color:#fff;border-left:0px solid #dedede;  text-decoration:none}
    .sidebar li a.active{background-color:#000;border-left:5px solid #dedede; transition: all 0.5s  ease-in-out}
    .sidebar li a:hover{background-color:#000 !important;}
    .sidebar li a i{ padding-right:5px;}
    .sidebar ul li .sub-menu li a{ position:relative}
    .sidebar ul li .sub-menu li a:before{
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 0px;
        padding-right: 10px;
        vertical-align: middle;
    }
    .sidebar ul li .sub-menu li a:hover:after {
        content: "";
        position: absolute;
        left: -5px;
        top: 0;
        width: 5px;
        background-color: #111;
        height: 100%;
    }
    .sidebar ul li .sub-menu li a:hover{ background-color:#222; padding-left:20px; transition: all 0.5s  ease-in-out}
    .sub-menu{ border-left:5px solid #dedede;}
      .sidebar li a .nav-label,.sidebar li a .nav-label+span{ transition: all 0.5s  ease-in-out}
      
    
      .sidebar.fliph li a .nav-label,.sidebar.fliph li a .nav-label+span{ display:none;transition: all 0.5s  ease-in-out}
      .sidebar.fliph {
        width: 42px;transition: all 0.5s  ease-in-out;
       
    }
    
    </style>
    <div class="sidebar left sticky-top">
        <ul>
        <li> <a href="\sephora\backends\quantri\sanpham\display.php"><i class="fa fa-th-large"></i> <span class="nav-label">Sản phẩm</span></a> </li>
        <li> <a href="\sephora\backends\quantri\loaisp\display.php"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Loại Sản Phẩm</span></a> </li>    
        <li> <a href="\sephora\backends\quantri\khachhang\display.php"><i class="fa fa-laptop"></i> <span class="nav-label">Khách Hàng</span></a> </li>
        <li> <a href="\sephora\backends\quantri\donhang\display.php"><i class="fa fa-table"></i> <span class="nav-label">Đơn Hàng</span></a> </li>  
        <li> <a href="\sephora\backends\quantri\hinhsanpham\display.php"><i class="fa fa-table"></i> <span class="nav-label">Hình sản phẩm</span></a> </li>  
        <li> <a href="\sephora\backends\pages\dashboard.php"><i class="fa fa-table"></i> <span class="nav-label">Thống kê Số liệu</span></a> </li>  
        </ul>
    </div>
    