{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}

{% block title %}
Lien he
{% endblock %}

{# Nội dung trong block content #}
{% block content %} <!-- duc lo nay o ben layout.html.twig -->
<h1>Day la trang lien he</h1>
{% endblock %}
{# End Nội dung trong block content #}