 <footer class="page-footer font-small">
    <div class="container text-center text-md-left">

    <div class="row text-center text-md-left mt-3 pb-3">

        <hr class="w-100 clearfix d-md-none">
        <div class="col-md-3 col-sm-6 col-12">
            <h6 class="text-uppercase font-weight-bold">THÔNG TIN CÔNG TY</h6>
            <p>Giới thiệu sephora.com</p>
            <p>Chuơng trình Affiliate</p>
            <p>Blog thời trang</p>
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <h6 class="text-uppercase font-weight-bold">DỊCH VỤ KHÁCH HÀNG</h6>
            <p>Liên hệ chúng tôi</p>
            <p>Phương thức thanh toán</p>
            <p>Điểm thưởng</p>            
            </div> 
        <div class="col-md-3 col-sm-6 col-12">
                <h6 class="text-uppercase  font-weight-bold">HỖ TRỢ KHÁCH HÀNG </h6>
                <p>Phí vận chuyển</p>
                <p>Hướng dẫn đặt hàng</p>
                <p>Hướng dẫn kích thước</p>            
                </div>
        <div class="col-md-3 col-sm-6 col-12">
        <h6 class="text-uppercase font-weight-bold">&nbsp;&nbsp;&nbsp;KẾT NỐI VỚI CHÚNG TÔI </h6>
            <div class="text-center text-md-left">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                    <img src = "/sephora.com/assets/fb.png" width="30" height="30">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <img src = "/sephora.com/assets/itg.png" width="30" height="30">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <img src = "/sephora.com/assets/tt.png" width="30" height="30">
                    </a>
                </li>
                </ul>
            </div>
            <BR>
            <h6 class="text-uppercase mb-4 font-weight-bold">&nbsp;&nbsp;&nbsp;APP </h6>
            <div class="text-center text-md-left">
                <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm rgba-white-slight mx-1">
                        <i class="fa fa-android fa-2x" aria-hidden="true"></i>
                    </a>
                </li>     
                </ul>
            </div>
        </div>

        <hr class="w-100 clearfix d-md-none">
        
        <hr class="w-100 clearfix d-md-none">
    </div>
    <hr>
    <div class="footer-bottom">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 col-lg-8">
        <p class="text-center text-md-left">
            <strong>S E P H O R A</strong>
        </p>
        </div>
        <div class="text-center text-lg-left">
            <p>Copyrights © 2019 by sephora.com.</p>
        </div>
    </div>
</div>
    </div>
    </div>
    </footer>
<!-- End Footer -->